body {
    margin: 0;
    background-color: #f0f4f8;
    color: #333;
    font-family: Verdana, sans-serif;
}


/* En-tête */

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 70px;
}

header h1 {
    font-family: Arial, sans-serif;
    font-size: 60px;
}


/* Articles */

main {
    width: 98%;
    margin: 30px auto;
}

.article {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px gray;
    padding: 40px 30px;
    margin-bottom: 30px;
}


/* Titres */

.article h2 {
    color: #2c3e50;
    font-family: Arial, sans-serif;
    font-size: 45px;
    text-align: center;
    letter-spacing: 3px;
}


/* Auteur et date */

.info {
    color: #70889a;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 2px;
}


/* Images */

.article img {
    width: 70%;
    height: 250px;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}


/* Texte */

.article p {
    font-size: 22px;
    line-height: 1.7;
    text-align: justify;
    word-spacing: 3px;
    letter-spacing: 1px;
}


/* Pied de page */

footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 60px;
}

footer p {
    font-size: 20px;
}